.contact {
    overflow-x: hidden;
    padding-top: 1rem;
    h2 {
        margin-bottom: 1.25rem;
    }
}

.contact-form {

    input {
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 0.25rem;
    }

    textarea {
        border: none;
        border-radius: 5px;
        font-size: 80%;
        padding: 0.25rem;
        width: 100%;
    }

    .label-container {
        padding: 0.3rem;
        @include mq-desktop { text-align: right; }
    }

    label { font-weight: 400; }

    #checkbox {
        margin-top: 5px;
    }
    #newsletter {
        width: 1rem;
        height: auto;
    }

    .form-control {
        font-size: 80%;
        font-weight: 400;
        box-shadow: none;
        border: none;
    }

    .row {
        padding: 0.25rem 0;
    }
}

#gmaps {
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    height: 21rem;
    margin-top: 1rem;
    @include mq-desktop { margin-top: 0; }
}
