.store {
    padding-top: 1.5%;
    margin-bottom: 1.25rem;
    @include mq-tablet { margin-bottom: 0.25rem; }

    .items-container {
        padding: 0 10%;
        text-align: center;

        @include mq-tablet {
            padding: 0 0 0 5%;
            margin-top: 30px;
            text-align: left;
        }
    }
}

.gallery-item {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;

    margin-top: 25px; margin-bottom: 25px;
    mq-tablet { margin-top: 0; margin-bottom: 0; }

    img {
        border-radius: inherit;
        width: 100%;
        height: auto;
    }

    .item-name-caption {
        @extend %caption;
        background-color: $mainColor;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        @include transform(translate(-30%, -50%));
    }

    .item-price-caption {
        @extend %caption;
        background-color: $iconGreenColor;
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
        bottom: 0;
        right: 0;
        @include transform(translate(30%, 50%));
    }

    .icon-caption {
        //std props
        border: 3px solid transparent;
        border-radius: 50%;
        display: block;
        color: transparent;
        position: absolute;
        text-align: center;
        transition: all 0.25s;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        //queryable props
        font-size: 150%;
        padding: 5px 15px;
        @include mq-tablet {
            font-size: 200%;
            padding: 5px 20px;
        }
        @include mq-desktop {
            font-size: 300%;
            padding: 15px 35px;
        }
    }

    &:after {
        content: " ";
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.25s;
    }

    &:hover {
        &:after {
            background-color: rgba(255, 255, 255, 0.65);
        }

        .icon-caption {
            color: rgba(255, 255, 255, 0.85);
            border: 3px solid white;
        }
    }
}

.modal {

    .modal-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .modal-footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .modal-body {
        color: white;
        font-size: 90%;
    }

    img {
        width: 30%;
        height: auto;
        margin-bottom: 15px;
    }

    #modal-price-tag {
        border: none;
        cursor: auto;
        background-color: $iconGreenColor;
    }
}
