
//Layout
html, body {
    color: $blackColor;
    font-size: 18px;
    @include mq-tablet { font-size: 20px !important; }

    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

section {
    padding: 3% 1%;
}

//Headers
h1 {
    margin: 0;
}

h2 {
    @extend %headers;
    font-size: 180%;

    &:after {
        display: block;
        content: " ";
        height: 2px;
        width: 200px;
        background-color: $mainColor;
        margin: 20px auto 0 auto;
    }
}

h3 {
    @extend %headers;
    font-size: 130%;
}

//Input
input:focus, textarea:focus, button:focus {
    outline: 0 !important;
}
